body {
    margin: 0;
    box-sizing: border-box;
}
img{
    width: 50%;
}
.App {
    display: flex;
    justify-content: center;
    align-items: center;
}
.cards-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    flex: 1;
}
.card__structure{
    background-color: beige;
    border: 1px solid salmon;
}
.card__body{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.cards_form{
    justify-content: space-between;
}
.card_content{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}
.card_conte {
    list-style: none;
    padding: 0;
}