body {
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    min-width: 320px;
}
h1, h2, h3, h4, p{
    margin: 0;
}
img{
    width: 50%;
}
.App {
    display: flex;
    justify-content: center;
    align-items: center;
}
/*--body of card--*/
.cards-container{
    display: grid;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 1rem;
}
.card_name{
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
}
.poke__title {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 1rem;
    font-style: italic;
    font-weight: bold;
    font-size: 1.5rem;
    color: #fc0e0e;
}
.card__structure{
    border-radius: 10px;
    padding: 1em;
    box-shadow: 0px 0px 8px 4px #4e4a4a;
    transition: width 2s, height 2s, transform 2s;
    cursor: pointer;
}
.card__body{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/*--form search and filter--*/
.cards_form {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.search {
    display: flex;
}
.form_search {
    width: 100%;
    border: none;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-bottom: 1px solid #030706;
    text-decoration: none;
    background-color: transparent;
}
.search_btn {
    background-color: rgb(128, 104, 236);
    border: none;
    color: white;
    text-decoration: none;
    margin: 8px 0;
    cursor: pointer;
}
.form_select {
    width: 100%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: rgb(128, 104, 236);
}

/*--bg cards--*/
.poke_head{
    display: flex;
    justify-content: center;
}
.bg-fighting {
    background: linear-gradient(176.83deg, #96402A -8.78%, #F1613C 169.09%, #CB735D 242.33%);
  }
.bg-flying {
    background: linear-gradient(181.51deg, #735259 -6.44%, #BC6B7C 121.95%, #7C3F4C 186.11%);
  }
.bg-poison {
    background: linear-gradient(177.03deg, #5B3184 -11.97%, #A564E3 71.28%, #CE9BFF 135.64%);
  }
.bg-ground {
    background: linear-gradient(179.75deg, #654008 -19.96%, #895C1A 43.67%, #D69638 138.4%);
  }
.bg-rock {
    background: linear-gradient(177.03deg, #7E7E7E -11.97%, #8D8D94 57.49%, #D3D3D3 135.64%);
  }
.bg-bug {
    background: linear-gradient(177.56deg, #62DB60 -58.92%, #3BB039 16.57%, #AAFFA8 209.53%);
  }
.bg-ghost {
    background: linear-gradient(177.03deg, #323569 -11.97%, #454AA8 57.49%, #787DDA 135.64%);
  }
.bg-steel {
    background: linear-gradient(179.75deg, #5E736C -19.96%, #728881 43.67%, #A8A8A8 138.4%);
  }
.bg-fire {
    background: linear-gradient(176.37deg, #F96D6F -32.26%, #E35825 22.55%, #E8AE1B 125.72%);
  }
.bg-water {
    background: linear-gradient(179.57deg, #133258 -70.14%, #1479FB 56.16%, #82B2F1 214.85%);
  }
.bg-grass {
    background: linear-gradient(178.92deg, #7EC6C5 0.92%, #ABDAC6 47.96%, #CAE099 99.08%);
  }
.bg-electric {
    background: linear-gradient(to top,rgba(255,253,165,1) 0%, rgba(252,224,70,1) 100%);
  }
.bg-phychic {
    background: linear-gradient(179.75deg, #971B45 -19.96%, #C23867 43.67%, #CD7D98 138.4%);
  }
.bg-ice {
    background: linear-gradient(177.03deg, #6FBEDF -11.97%, #64CBF5 47.77%, #BDEBFE 136.72%);
  }
.bg-dragon {
    background: linear-gradient(179.75deg, #478A93 -19.96%, #56A4AE 43.67%, #A2BEC1 138.4%);
  }
.bg-dark, .bg-shadow {
    background: linear-gradient(177.03deg, #030706 -11.97%, #0D1211 57.49%, #5A5E5D 135.64%);
  }
.bg-fairy {
    background: linear-gradient(to top, rgba(255,126,245,1) 0%, rgba(250,223,243,1) 100%);
  }
  .bg-normal, .bg-unknown {
    background: linear-gradient(177.03deg, #b3b3b3 -11.97%, #bababa 57.49%, #D3D3D3 135.64%);
  }
/*--content card--*/
.card_content{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}
.card_conte{
    background-color: #e3f3e4;
    opacity: .6;
    text-align: center;
}
.c_status {
    font-style: italic;
    color: #2a32be;
}
.card_conte, ul {
    list-style: none;
    columns: 2; 
    -webkit-columns: 2; 
    -moz-columns: 2; 
    display: block;
    padding: 0;
}
ul .rtl_func > li {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid; 
}
.card_btn{
    background-color: rgb(255, 255, 255);
    border: none;
    color: rgb(0, 0, 0);
    text-decoration: none;
    cursor: pointer;
    border-radius: 50%;
    aspect-ratio: 1;
    width: 10%;
    transition: transform 200ms ease;
    transform: rotateX(150deg)
}
.home_btn:hover {
    transform: scale(1.05);
    transition: transform 200ms ease;
    background-color: rgba(107, 107, 107, 0.781);
    box-shadow: 0px 0px 8px 4px #4e4a4a;
}
/*--Pagination --*/
.pagination {
    margin: 15px 0;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination ul {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 15px;
    color: rgb(33, 33, 33)
}
.btn_pag {
    border-radius: 50px;
    aspect-ratio: 1;
    width: 100%;
    background-color: rgb(128, 104, 236);
}

.pagination a {
    list-style: none;
    text-decoration: none;
}

.btn-off {
    display: none;
}

/*-- mediaa --*/
@media (min-width:650px) {
    .cards_form {
        flex-direction: row;
        justify-content: space-between;
    }
    .cards-container{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width:950px) {
    .cards-container{
        grid-template-columns: repeat(3, 1fr);
    }
}