@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@400;500;700&display=swap');

body {
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    min-width: 320px;
    font-family: 'Prompt', sans-serif;
}
h1, h2, h3, h4, p{
    margin: 0;
}
img{
    width: 50%;
}
.App {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
/*--body of card--*/
.cards-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 1rem;
}
.card_name{
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
}
.poke__title {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 1rem;
    font-style: italic;
    font-weight: bold;
    font-size: 1.5rem;
    color: #fc0e0e;
}

.card__structure{
    border-radius: 10px;
    padding: 1em;
    box-shadow: 0px 0px 8px 4px #4e4a4a;
    transition: 0.5s;
}
.card__structure:hover{
    box-shadow: 17px 25px 13px 7px rgba(18,18,18,0.68);
    -webkit-box-shadow: 17px 25px 13px 7px rgba(18,18,18,0.68);
    -moz-box-shadow: 17px 25px 13px 7px rgba(18,18,18,0.68);
    transform: translateY(-30px);
}
.card__body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #fce8b1;
    filter: brightness(1.1);
}

/*--form search and filter--*/
.cards_form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 3rem;
}

.search {
    display: flex;
}
.form_search {
    width: 100%;
    border: none;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-bottom: 1px solid #030706;
    text-decoration: none;
    background-color: transparent;
}
.search_btn {
    background-color: rgb(128, 104, 236);
    border: none;
    color: white;
    text-decoration: none;
    margin: 8px 0;
    cursor: pointer;
}
.form_select {
    width: 100%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: rgb(128, 104, 236);
}

/*--bg cards--*/
.poke_head{
    display: flex;
    justify-content: center;
}
.poke_head img {
    width: 120px;
}
.bg-fighting {
    background: linear-gradient(176.83deg, #96402A -8.78%, #F1613C 169.09%, #CB735D 242.33%);
  }
.bg-flying {
    background: linear-gradient(181.51deg, #735259 -6.44%, #BC6B7C 121.95%, #7C3F4C 186.11%);
  }
.bg-grass {
    background: linear-gradient(178.92deg, #7EC6C5 0.92%, #ABDAC6 47.96%, #CAE099 99.08%);
  }
.bg-poison {
    background: linear-gradient(177.03deg, #5B3184 -11.97%, #A564E3 71.28%, #CE9BFF 135.64%);
  }
.bg-ground {
    background: linear-gradient(179.75deg, #654008 -19.96%, #895C1A 43.67%, #D69638 138.4%);
  }
.bg-rock {
    background: linear-gradient(177.03deg, #7E7E7E -11.97%, #8D8D94 57.49%, #D3D3D3 135.64%);
  }
.bg-bug {
    background: linear-gradient(177.56deg, #62DB60 -58.92%, #3BB039 16.57%, #AAFFA8 209.53%);
  }
.bg-ghost {
    background: linear-gradient(177.03deg, #323569 -11.97%, #454AA8 57.49%, #787DDA 135.64%);
  }
.bg-steel {
    background: linear-gradient(179.75deg, #5E736C -19.96%, #728881 43.67%, #A8A8A8 138.4%);
  }
.bg-fire {
    background: linear-gradient(176.37deg, #e29530, #fc0e0e, #f0ce0c);
}
.bg-water {
    background: linear-gradient(176.37deg, #30a1e2, #0e61fc, #0ce1f0);
}
.bg-normal {
    background: linear-gradient(176.37deg, #353535, #4e4a4a, #35311c);
}
.bg-electric {
    background: linear-gradient(176.37deg, #fcff35, #a7be21, #ffa52f);
}
.bg-bug {
    background: linear-gradient(176.37deg, #7c35ff, #a421be, #d669c4);
}
.card_content{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}
.card_conte{
    background-color: #e3f3e4;
    opacity: .6;
    text-align: center;
}
.c_status {
    font-style: italic;
    color: #2a32be;
}
.card_conte, ul {
    list-style: none;
    columns: 2; 
    -webkit-columns: 2; 
    -moz-columns: 2; 
    display: block;
    padding: 0;
}
ul .rtl_func > li {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid; 
}
.card_btn{
    background-color: rgb(255, 255, 255);
    border: none;
    color: rgb(0, 0, 0);
    text-decoration: none;
    cursor: pointer;
    border-radius: 50%;
    aspect-ratio: 1;
    width: 10%;
    transition: transform 200ms ease;
    transform: rotateX(150deg)
}
.home_btn:hover {
    transform: scale(1.05);
    transition: transform 200ms ease;
    background-color: rgba(107, 107, 107, 0.781);
    box-shadow: 0px 0px 8px 4px #4e4a4a;
}
/*--Pagination --*/
.pagination {
    margin: 15px 0;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination ul {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 15px;
    color: rgb(33, 33, 33)
}
.btn_pag {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    padding: 0;
    font-size: 20px;
    background-color: rgb(128, 104, 236);
}
.btn-more {
    width: 40px;
    height: 40px;
    background-color: rgb(128, 104, 236);
    border: 2px solid #030706;
    font-weight: bold;
    border-radius: 50px;
}
.btn-firstpage {
    background-color: rgb(128, 104, 236);
    border: 2px solid #030706;
    font-weight: bold;
    border-radius: 50px;
    padding: 10px 5px;
}

.btn-lastpage {
    background-color: rgb(128, 104, 236);
    border: 2px solid #030706;
    font-weight: bold;
    border-radius: 50px;
    padding: 10px 5px;
}

.pagination a {
    list-style: none;
    text-decoration: none;
}

.btn-off {
    display: none;
}

/*-- mediaa --*/
@media (min-width:650px) {
    .cards_form {
        flex-direction: row;
        justify-content: space-between;
    }
    
}
