body {
    margin: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
}
.App {
    display: flex;
    justify-content: center;
    align-items: center;
}
.cards-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
}
.card__structure{
    background-color: beige;
    border: 1px solid salmon;
}
.card__body{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.cards_form{
    justify-content: space-between;
}
.card_content{
    list-style: none;
}