.home_init {
    min-height: 100vh;
    width: 100%;
    background-color: darkseagreen;
    color: brown;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 1em;
}
.form__home {
    display: flex;
    flex-direction: row;
}
.home_input {
    width: 100%;
    border: none;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
.home_btn {
    background-color: brown;
    border: none;
    color: white;
    text-decoration: none;
    margin: 8px 0;
    cursor: pointer;
}
